<%- include('./partials/header')  %> 

<%- include ('./partials/main_nav') %>

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="side_img">
      <img src="images/side-img.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="images/a-1.jpg" alt="" />
            </div>
            <div class="img-box b2">
              <img src="images/a-2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
                About Our College
              </h3>
              <p>
                Launched in 2022, the website was designed by college students, and responsive design was among their top priorities. “We wanted to make the navigation as intuitive and simple as possible,”. “In a lot of ways a homepage is a portal, but we want it to be a more experiential, informative portal.” This website offers the student portal which contains different pages with unique design and easy but different nevigation system of the website
              </p>
              <a href="https://www.centennialcollege.ca/about-centennial">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <%- include ('./partials/bottom_nav') %>  
  <%- include ('./partials/footer') %>