<%- include('../partials/header')  %> 

<%- include ('../partials/main_nav') %>
  <!-- login section -->
  
  <section class="login_section layout_padding">
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="detail-box">
            <a href="/register">
              REGISTER NOW
            </a>
<<<<<<< Updated upstream
          </div>
        </div> -->
=======
          </div> -->
        </div>
>>>>>>> Stashed changes
        
        <div class="col-md-6" style="margin:auto;">
          <div class="login_form">
            <form action="">
              
                <fieldset>
                  <!-- <div class="dropdown">
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Login as:
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Student</a></li>
                      <li><a class="dropdown-item" href="#">Faculty</a></li>
                      <li><a class="dropdown-item" href="#">Admin</a></li>
                    </ul>
                  </div> -->
                  <div>
                    <label>Login as:</label>
                    <select name="userType" id="userType">
                      <option value="Admin">Admin</option>
                      <option value="Faculty">Faculty</option>
                      <option value="Student">Student</option>
                    </select>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <label for="username">Username: </label>
                  <input type="text" class="form-control"
                  name="username" placeholder="Enter username"
                  id="username" required autofocus>
              </fieldset>

              <fieldset class="form-group">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control"
                  name="password" placeholder="Enter password"
                  id="password" required>
              </fieldset>    
                  
              <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                    or
                    <a href="/register">Register Here</a>
              </fieldset>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end login section -->

  <%- include ('../partials/bottom_nav') %>  
  <%- include ('../partials/footer') %>